#netopeer-header {
    position: fixed;
    width: 100%;
	margin: -0.5em -1em 0em -1em;
	padding-top: 1em;
    background-color: #313747;
    color: #FAFAFA;
    display: block;
}

#netopeer-header h1 {
	margin-left: 1em;
}

#netopeer-component {
	margin: 0em -1em 0em -1em;
}

.netopeer-content {
	display: block;
	padding: 0.7em 1em 1em 2em;
	background-color: #FAFAFA;
	color: #000;
}

nav {
	with: 100%;
	padding-left: 1em;
}

nav a {
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 1em 0.5em 0.5em;
	color: #FAFAFA;
}

nav a:visited, a:link {
	color: inherited;
}

nav a:hover, a.active {
	background-color: #3B4257;
}

nav a.active:hover {
	cursor: default;
}

.msg-rounded {
    border-radius: 5px;
}

.msg-close {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: large;
	cursor: pointer;
}

.msg-success {
    background-color: #def2de;
	color: green;
	padding: 5px 1em 5px 0em;
}

.msg-success.msg-close {
    color: green;
}

.msg-failure {
    background-color: #f2dede;
    color: red;
	padding: 5px 1em 5px 0em;
}

.msg-failure.msg-close {
    color: red;
}