@import 'netopeer-common';

#netopeer-header {
    position: fixed;
    width: 100%;
	margin: -0.5em -1em 0em -1em;
	padding-top: 1em;
    background-color: #313747;
    color: #FAFAFA;
    display: block;
}

#netopeer-header h1 {
	margin-left: 1em;
}

#netopeer-component {
	margin: 0em -1em 0em -1em;
}

#mainnav {
	with: 100%;
	padding-left: 1em;
}

#mainnav a:visited,
#mainnav a:link {
	color: inherit;
}

#mainnav a:hover {
    border-top-color: #3B4257;
	background-color: #3B4257;
}

#mainnav a.active {
    border-top-color: #BAE4F0;
	background-color: #3B4257;
}
#mainnav a.active:hover {
	cursor: default;
}

#mainnav a {
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 1em 0.5em 0.5em;
	color: #FAFAFA;
    border-top: 0.2em solid #313747;
}
