<div id="netopeer-header" #header>
  <h1><span routerLink="/netopeer" style="cursor:pointer">Netopeer</span> {{componentTitle}}</h1>
 
  <nav id="mainnav">
    <a *ngFor="let component of netopeerComponents"
       routerLink="{{component.route}}" routerLinkActive="active">{{component.name}}</a>
  </nav>

</div>
<div id="netopeer-component" [style.margin-top]="'calc(' + header.offsetHeight + 'px - 0.5em)'">
  <netopeer-dashboard *ngIf="componentTitle == ''"></netopeer-dashboard>
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</div>
