<div class="netopeer-content" id="netopeer-dashboard">
    <table class="items">
        <tr class="item_header">
            <th class="item_left">&nbsp;</th>
            <th >Currently connected devices</th>
            <th class="item_right">autoconnect</th>
        </tr>
        <tr class="item" *ngFor="let session of sessionsService.sessions" (click)="gotoConfig(session)">
            <td class="item_left item_actions">
                <img class="item_action_delete" src="assets/netopeer/icons/close.svg"  alt="x" title="disconnect"
                    onmouseover="this.src='assets/netopeer/icons/close_active.svg'"
                    onmouseout="this.src='assets/netopeer/icons/close.svg'" (click)="sessionsService.close(session.key).subscribe(); $event.stopPropagation()"/>
            </td>
            <td>{{session.device.name}}</td>
            <td class="item_right"><input type="checkbox" name="autoconnect" disabled [checked]="session.device.autoconnect"
                title="Automatically connect the device on user login."/></td>
        </tr>
    </table>
</div>
