@import '../netopeer-common';
@import '../inventory/inventory.component';
@import './tree.component';

#config-data {
    width: 100%;
}

.item_action_expand,
.item_action_collapse {
    height: 1em;
}

.item_action_collapse:hover {
    color: $red;
}

.item_action_expand:hover {
    color: $green;
}

.modifications-status {
    margin-bottom: 2em;
    margin-right: 2em;
    padding: 0.5em 1em;

    >div {
        position: fixed;
        bottom: 2em;
        right: 2em;
        background-color: $colorChanged;
        border: 2px solid $colorChangedBorder;
        padding: 0 1em;
        div {
            padding: 0.5em 0;
        }
    }
}

.loading {
    text-align: center;
    margin: auto;
    width: 10em;
    div {
        margin: auto;
        width: 50px;
    }
}
