@import '../netopeer-common';

$colorChanged: #fafad2;
$colorChangedBorder: #e4e4a4;
$colorLineHover: #e1e1e1;

.subtree {
    cursor: default;
    display: block;
    width: 100%;
}

.node {
    width: 100%;
    overflow: hidden;

    &:hover {
        background-color: $colorLineHover;
    }

    > div {
        display: inline-block;
    }
}

.node_edit {
    display: block;
    width: 100%;
    overflow: hidden;

    img,
    input {
        display: inline-table;
        margin-right: 0.25em;
    }
    input {
        height: 2em;
        padding-left: 0.3em;
        background-color: $colorSuccess;

        &.invalid {
            background-color: $colorFailure;
        }
    }

    &.indentation {
        height:2.1em;
    }

    > .msg-failure {
        margin: 0.5em 0em;
    }
}
.node_edit.dialog {
    background-color: $colorChanged;
    border: 2px solid $colorChangedBorder;
    border-left-width: 0px;
    border-right-width: 0px;
}

.status,
.node_info {
    color: grey;
}

.dirty {
    background-color: $colorChanged;
}

.deleted {
    height: 0.5em;
    * {
        visibility: hidden;
    }
}

.icon,
.icon_action {
    font-size: xx-small;
    height: 2em;
}

.icon_action {
    cursor: pointer;
}

.icon_hidden {
    visibility: hidden;
}

.module_name {
    float: right;
    text-align: right;
    max-width: 10em;
    word-wrap: break-word;
}

.children {
    padding-left: 0em;
}

.value {
    display: inline-block;
    margin-left: 1.5em;
    word-wrap: break-word;
}

.indentation {
    width: 1.7em;
}

.editmenu {
    visibility: hidden;
    background-color: #FAFAFA;
    border: 1px solid black;

    position: fixed;
    z-index: 1;
}

.button_action {
    cursor: pointer;
    padding: 0.3em 1em 0.3em 0.5em;

    &:hover {
        background-color: #3B4257;
        color: #FAFAFA;
    }
}
