.subtree {
    cursor: default;
    display: block;
    width: 100%;
}

.node {
    width: 100%;
    overflow: hidden;
}
.node:hover,
.node_edit:hover {
    background-color: #e1e1e1
}

.node_edit {
	display: table;
	width: 100%;
    overflow: hidden;
}
.node_edit img,
.node_edit input {
	display: inline-table;
	margin-right: 0.25em;
}
.node_edit input {
	height: 2em;
    padding-left: 0.3em;
    background-color: #def2de;
}
.node_edit input.invalid {
    background-color: #f2dede;
}
.node_edit .indentation {
	height:2.1em;
}

.node > div {
    display: inline-block;
}

.status,
.node_info {
    color: grey;
}

.icon,
.icon_action {
    font-size: xx-small;
    height: 2em;
}

.icon_action {
    cursor: pointer;
}

.icon_hidden {
	visibility: hidden;
}

.module_name {
    float: right;
    text-align: right;
    max-width: 10em;
    word-wrap: break-word;
}

.children {
    padding-left: 0em;
}

.value {
    display: inline-block;
    margin-left: 1.5em;
}

.value,
.value_standalone {
    word-wrap: break-word;
}

.indentation {
    width: 1.7em;
}

