.subtree {
    cursor: default;
    display: block;
    width: 100%;
}

.node {
    width: 100%;
    overflow: hidden;
}
.node:hover {
    background-color: #e1e1e1
}
.node > div {
    display: inline-block;
}

.status,
.node_info {
    color: grey;
}

.icon,
.icon_action {
    font-size: xx-small;
    height: 2em;
}

.icon_action {
    cursor: pointer;
}

.module_name {
    float: right;
    text-align: right;
    max-width: 10em;
    word-wrap: break-word;
}

.children {
    padding-left: 0em;
}

.value {
    display: inline-block;
    margin-left: 1.5em;
}

.value_standalone {
    margin-left: 3em;
    width: calc(100% - 13em);
}

.value,
.value_standalone {
    word-wrap: break-word;
}

.indentation {
    width: 1.7em;
}

