<ng-container *ngIf="(getType() != 'root' && !node['info']['config']) || getType() == 'edit'; else nonempty">
    <img class="icon" src="assets/netopeer/icons/tree_empty.svg"/>
</ng-container>
<ng-template #nonempty>
    <ng-container *ngIf="getType() == 'create'">
        <img class="icon_action" src="assets/netopeer/icons/close.svg" title="stop creating nodes here"
            onmouseover="this.src='assets/netopeer/icons/close_active.svg'"
            onmouseout="this.src='assets/netopeer/icons/close.svg'"
            (click)="closeCreatingDialog(node)"/>
    </ng-container>
    <ng-container *ngIf="getType() == 'new' || getType() == 'deleted'">
        <img class="icon_action" src="assets/netopeer/icons/close.svg" title="cancel modification"
            onmouseover="this.src='assets/netopeer/icons/close_active.svg'"
            onmouseout="this.src='assets/netopeer/icons/close.svg'"
            (click)="cancelModification(node)"/>
    </ng-container>
    <ng-container *ngIf="getType() == 'value'">
        <ng-container [ngSwitch]="modsService.isDeleted(node)">
            <img *ngSwitchCase="false" title="delete value"
                class="icon_action" src="assets/netopeer/icons/close.svg"
                onmouseover="this.src='assets/netopeer/icons/close_active.svg'"
                onmouseout="this.src='assets/netopeer/icons/close.svg'"
                (click)="deleteInstance(node)"/>
            <img *ngSwitchCase="true" title="cancel modification"
                class="icon_action" src="assets/netopeer/icons/close.svg"
                onmouseover="this.src='assets/netopeer/icons/close_active.svg'"
                onmouseout="this.src='assets/netopeer/icons/close.svg'"
                (click)="cancelModification(node, value)"/>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="getType() == 'current' || getType() == 'root'">
        <span (mouseenter)="showEditMenu($event)" (mouseleave)="hideEditMenu($event.currentTarget.lastElementChild)">
            <img  class="icon_action" src="assets/netopeer/icons/menu.svg"
                onmouseover="this.src='assets/netopeer/icons/menu_active.svg'"
                onmouseout="this.src='assets/netopeer/icons/menu.svg'"/>
            <div class="editmenu msg-rounded">
                <div *ngIf="getType() != 'root' && !node['info']['key']" class="button_action" title="remove subtree {{node['path']}}"
                    onmouseover="this.firstElementChild.src='assets/netopeer/icons/close_active.svg'"
                    onmouseout="this.firstElementChild.src='assets/netopeer/icons/close.svg'"
                    (click)="deleteSubtree(node);hideEditMenu($event.currentTarget.parentElement);">
                    <img class="icon_action" src="assets/netopeer/icons/close.svg" />
                    delete
                </div>
                <div *ngIf="getType() != 'root'" class="button_action" title="create sibling data node(s)"
                    onmouseover="this.firstElementChild.src='assets/netopeer/icons/add_active.svg'"
                    onmouseout="this.firstElementChild.src='assets/netopeer/icons/add.svg'"
                    (click)="openCreatingDialog($event.currentTarget, node, true);hideEditMenu($event.currentTarget.parentElement);">
                    <img class="icon_action" src="assets/netopeer/icons/add.svg" />
                    create sibling
                </div>
                <div *ngIf="getType() == 'root' || (node['info']['type'] != 4 && node['info']['type'] != 8)"
                    class="button_action" title="create children data node(s)"
                    onmouseover="this.firstElementChild.src='assets/netopeer/icons/add_active.svg'"
                    onmouseout="this.firstElementChild.src='assets/netopeer/icons/add.svg'"
                    (click)="openCreatingDialog($event.currentTarget, node, flase);hideEditMenu($event.currentTarget.parentElement);">
                    <img class="icon_action" src="assets/netopeer/icons/add.svg" />
                    create children
                </div>
            </div>
        </span>
    </ng-container>
</ng-template>
<ng-container *ngFor="let indent of indentation">
    <img *ngIf="!indent" class="indentation" src="assets/netopeer/icons/tree_cont.svg" />
    <img *ngIf="indent" class="indentation" src="assets/netopeer/icons/tree_empty.svg" />
</ng-container>
<ng-container [ngSwitch]="getType()">
    <img *ngSwitchCase="'value'" class="indentation value" src="assets/netopeer/icons/tree_empty.svg" />
    <img *ngSwitchCase="'root'" class="indentation" src="assets/netopeer/icons/tree_root.svg" />
    <img *ngSwitchCase="'edit'" class="indentation" src="assets/netopeer/icons/tree_empty.svg" />
    <img *ngSwitchCase="'create'" class="indentation" src="assets/netopeer/icons/tree_last_branch.svg" />
    <ng-container *ngSwitchDefault>
        <img *ngIf="node['last']" class="indentation" src="assets/netopeer/icons/tree_last_branch.svg" />
        <img *ngIf="!node['last']" class="indentation" src="assets/netopeer/icons/tree_branch.svg" />
    </ng-container>
</ng-container>
