<!-- leaf/leaf-list's edit value -->
    <div class="node_edit" [class.dirty]="node['dirty']">
        <tree-indent [node]="node" [indentation]="treeService.inheritIndentation(indentation, node)" [type]="'edit'"></tree-indent>
        <img *ngIf="node['edit'] " class="icon_action" src="assets/netopeer/icons/close.svg"
            alt="cancel" title="cancel editing" tabindex=0
            (click)="changeValueCancel(node)" (keyup.enter)="changeValueCancel(node)"
            onmouseover="this.src='assets/netopeer/icons/close_active.svg'"
            onmouseout="this.src='assets/netopeer/icons/close.svg'" />
        <img *ngIf="node['edit']" class="icon_action icon_hidden" src="assets/netopeer/icons/confirm.svg"
            id="{{node['path']}}_value_confirm" alt="done" title="store changes" tabindex=0
            (click)="changeValue(node, $event.target)" (keyup.enter)="changeValue(node, $event.target)"
            onmouseover="this.src='assets/netopeer/icons/confirm_active.svg'"
            onmouseout="this.src='assets/netopeer/icons/confirm.svg'"/>
        <select *ngIf="node['info']['values']"
            id="{{node['path']}}_input" type="text" class="value_inline"
            (change)="checkValue(node, $event.target, true)"
            checkLeafValue [node]="node" [trusted]="true" (onCheckValue)="checkValue($event.node, $event.element, $event.trusted)">
            <ng-container *ngFor="let value of node['info']['values']; let i='index'">
                <option value="{{value}}">{{value}}</option>
            </ng-container>
        </select>
        <input *ngIf="!node['info']['values']"
            id="{{node['path']}}_input" type="text" class="value_inline" value="{{nodeValue(node)}}" tabindex=0
            (keyup)="checkValue(node, $event.target)" (change)="checkValue(node, $event.target)"
            (keyup.enter)="changeValue(node, $event.target)" (keyup.escape)="changeValueCancel(node)"
            checkLeafValue [node]="node" (onCheckValue)="checkValue($event.node, $event.element)"/>
    </div>
