<div class="tool-wrapper">
  <h1 *ngIf="schemaName">{{schemaName}}</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6" *ngIf="schemaName">
        <!-- Using innerHTML to avoid <br> escaping -->
        <div class="code" *ngIf="!loading" [innerHTML]="schema">
        </div>
        <p class="text-center" *ngIf="loading">Loading schema... <i class="fa fa-spinner fa-pulse fa-fw"></i></p>
      </div>
      <div class="col-sm-12 col-md-6">
        <lib-schema-list [selected]="schemaName"></lib-schema-list>
      </div>
    </div>
  </div>
</div>
