<div class="yang-infobox">
    <div class="yang-info-section">
        <div class="yang-info" *ngIf="typdef">
            <span class="yang-info-label">based on</span>
            <ng-container *ngIf="data['derived-from'] != data['basetype']">
                <a class="yang-info-value" (click)="derivedFrom(data['derived-from'])">{{data['derived-from'] | noPrefix}}</a>&nbsp;<span>({{data['basetype']}})</span>
            </ng-container>
            <ng-container *ngIf="data['derived-from'] == data['basetype']">
                <span class="yang-info-value">{{data['derived-from'] | noPrefix}}</span>
            </ng-container>
        </div>
        <div class="yang-info" *ngIf="!typdef && data['derived-from'] != data['basetype']">
            <span class="yang-info-label">based on</span><span>{{data['basetype']}}</span>
        </div>
    </div>

    <!-- restrictions -->
    <div class="yang-info-section">
        <div class="yang-info" *ngIf="data['fraction-difgits']">
            <span class="yang-info-label">fraction-digits</span><span class="yang-info-value">{{data['fraction-digits'].value}}</span>
        </div>
        <yang-restriction *ngIf="data.range" [data]="data.range" [name]="'range'"></yang-restriction>
        <yang-restriction *ngIf="data.length" [data]="data.length" [name]="'length'"></yang-restriction>
        <ng-container *ngIf="data.patterns">
            <yang-restriction *ngFor="let pattern of data.patterns" [data]="pattern" [name]="'pattern'"></yang-restriction>
        </ng-container>
        <div class="yang-info" *ngIf="data['path']">
            <span class="yang-info-label">path</span>
            <span *ngIf="data.path['target-schema']" class="yang-info-value">
                <span *ngFor="let parent of schemasService.cutPath(data.path.value, schema.path); let i = index">
                    <ng-container *ngIf="i || parent.id != '..'">/</ng-container><a (click)="linkNode(data.path['target-schema'],parent.path)">{{parent.id}}</a>
                </span>
            </span>
            <span *ngIf="!data.path['target-schema']" class="yang-info-value">{{data.path.value}}</span>
        </div>
        <div class="yang-info" *ngIf="data['require-instance']">
            <span class="yang-info-label">require-instance</span><span class="yang-info-value">{{data['require-instance'].value}}</span>
        </div>
    </div>

    <!-- bits -->
    <div class="yang-info-section" *ngIf="data.bits">
        <ng-container *ngFor="let bit of data.bits">
        <div class="yang-info">
            <span class="yang-info-subsection-label">bit {{bit.position}}</span><span class="yang-info-value">{{bit.name}}</span>
        </div>
        <div class="yang-info-subsection">
            <ng-container *ngIf="bit['if-features']">
                <div class="yang-info" *ngFor="let value of bit['if-features']">
                    <yang-iffeature (refresh)="onRefresh()" [schema]="schema" [data]="value"></yang-iffeature>
                </div>
            </ng-container>
            <div class="yang-info" *ngIf="bit.status">
                <span class="yang-info-label">status</span><span class="yang-info-value">{{bit.status.value}}</span>
            </div>
            <div class="yang-info" *ngIf="bit.description">
                <span class="yang-info-label">description</span><pre class="yang-info-value">{{bit.description.text}}</pre>
            </div>
            <div class="yang-info" *ngIf="bit.reference">
                <span class="yang-info-label">reference</span><pre class="yang-info-value">{{bit.reference.text}}</pre>
            </div>
        </div>
        </ng-container>
    </div>

    <!-- enums -->
    <div class="yang-info-section" *ngIf="data.enums">
        <ng-container *ngFor="let enum of data.enums">
        <div class="yang-info">
            <span class="yang-info-subsection-label">enum {{enum.name}}</span><span class="yang-info-value">value {{enum.value}}</span>
        </div>
        <div class="yang-info-subsection">
            <ng-container *ngIf="enum['if-features']">
                <div class="yang-info" *ngFor="let value of enum['if-features']">
                    <yang-iffeature (refresh)="onRefresh()" [schema]="schema" [data]="value"></yang-iffeature>
                </div>
            </ng-container>
	        <div class="yang-info" *ngIf="enum.status">
	            <span class="yang-info-label">status</span><span class="yang-info-value">{{enum.status.value}}</span>
	        </div>
	        <div class="yang-info" *ngIf="enum.description">
	            <span class="yang-info-label">description</span><pre class="yang-info-value">{{enum.description.text}}</pre>
	        </div>
	        <div class="yang-info" *ngIf="enum.reference">
	            <span class="yang-info-label">reference</span><pre class="yang-info-value">{{enum.reference.text}}</pre>
	        </div>
        </div>
        </ng-container>
    </div>

    <!-- identityref -->
    <div class="yang-info-section" *ngIf="data.bases">
        <div class="yang-info" *ngFor="let value of data.bases">
            <span class="yang-info-label">base</span><a class="yang-info-value" (click)="base(value)" title="from {{value | prefixOnly}}">{{value | noPrefix}}</a>
        </div>
    </div>

    <!-- union -->
    <div class="yang-info-section" *ngIf="data.types">
        <ng-container *ngFor="let type of data.types">
        <div class="yang-info">
            <span class="yang-info-subsection-label">type</span>
        </div>
        <div class="yang-info-subsection">
            <yang-type [schema]="schema" [data]="type" (refresh)="onRefresh()"></yang-type>
        </div>
        </ng-container>
    </div>
</div>

 <!-- <pre>{{schema | json}}</pre> -->
 <!-- <pre>{{data | json}}</pre> -->
