<div class="yang-info" *ngIf="name=='pattern'">
    <span class="yang-info-subsection-label">{{name}}</span>
    <span class="yang-info-value pattern" [innerHTML]="data.value | patternHighlight"></span>
</div>
<div class="yang-info" *ngIf="name!='pattern'">
    <span class="yang-info-subsection-label">{{name}}</span>
    <span class="yang-info-value">{{data.value}}</span>
</div>
<div class="yang-info-subsection">
    <div class="yang-info" *ngIf="data.modifier">
        <span class="yang-info-label">modifier</span>
        <span class="yang-info-value">{{data.modifier.value}}</span>
    </div>
    <div class="yang-info" *ngIf="data['error-message']">
        <span class="yang-info-label">error-message</span>
        <span class="yang-info-value">{{data['error-message'].value}}</span>
    </div>
    <div class="yang-info" *ngIf="data['error-app-tag']">
        <span class="yang-info-label">error-app-tag</span>
        <span class="yang-info-value">{{data['error-app-tag'].value}}</span>
    </div>
    <div class="yang-info" *ngIf="data.description">
        <span class="yang-info-label">description</span>
        <pre class="yang-info-value">{{data.description.text}}</pre>
    </div>
    <div class="yang-info" *ngIf="data.reference">
        <span class="yang-info-label">reference</span>
        <pre class="yang-info-value">{{data.reference.text}}</pre>
    </div>
</div>