@import '../netopeer-common';
@import '../inventory/inventory.component';

$colorLineHover: #e1e1e1;

.nav-button {
    height: 2em;
    cursor: pointer;
    margin: 0.3em;
}

.loading {
    text-align: center;
    margin: auto;
    width: 10em;
    div {
        margin: auto;
        width: 50px;
    }
}

.yang-infobox {
    display: block;
    cursor: default;
}

.yang-info-section-label,
.yang-info-subsection-label,
.yang-info-label {
    color: $colorMain;
}

.yang-info-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 2em;
}

.yang-info-subsection {
    padding-left: 2em;
}

.yang-info,
.yang-info-label,
.yang-info-value {
    border: 0px solid black;
}

.yang-info {
    display: flex;
}
.yang-info:hover {
    background-color: $colorLineHover;
}

.yang-info-value {
    display: inline-block;
}

.yang-info-section-label,
.yang-info-subsection-label,
.yang-info-label {
    min-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
