@import '../netopeer-common';
@import '../inventory/inventory.component';

$colorLineHover: #e1e1e1;
$colorLineSelected: #999999;

.nav-button {
    height: 2em;
    cursor: pointer;
    margin: 0.3em;
}

.loading {
    text-align: center;
    margin: auto;
    width: 10em;
    div {
        margin: auto;
        width: 50px;
    }
}

.yang-infobox {
    display: block;
    cursor: default;
}

.yang-info-section-label,
.yang-info-subsection-label,
.yang-info-label {
    color: black;
    font-weight: 100;
    text-transform: uppercase;
}

.yang-info-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 2em;
}

.yang-info-subsection {
    .yang-info {
        padding-left: 2em;
    }
}

.yang-info,
.yang-info-label,
.yang-info-value {
    border: none;
    a {
        font-weight: normal;
    }
}

.yang-info {
    display: flex;
    padding: 5px;
}
.yang-info:hover {
    background-color: $colorLineHover;
}

.yang-info:nth-of-type(even), .yang-info-subsection:nth-of-type(even) {
    background: lighten($colorLineHover, 5%);
}

.yang-info-value {
    display: inline-block;
}

.yang-info-section-label,
.yang-info-subsection-label,
.yang-info-label {
    min-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.yang-revision-label {
    font-style: italic;
}

.yang-subsection-container {
    margin-left: 2em;
}

.pattern {
    .selectedGroup {
        background-color: $colorLineSelected;
    }
    .bracket {
    }
}

