$colorMain:        #008545;
$colorHighlight:   #016d39;
$colorSelected:    #016d39;
$colorSelected2:   #00b55d;
$colorBackground:  #fafafa;
$colorItemBackground: #fff;
$colorText:        #231f20;
$colorTextInverse: #fff;
$colorLink:        #0068a2;
$colorLinkHover:   #00a1e3;
$colorHeading:     #555;

$colorSuccess:     #44bd32;
$colorError:       #ee1d23;
