nav {
	background-color: #3B4257;
	padding-left: 1em;
}

nav a {
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 1em 0.1em 1em;
	color: #FAFAFA;
}

nav a:visited, a:link {
	color: inherited;
}

nav a:hover, nav a.active {
	background-color: #FAFAFA;
	color: #000
}

nav a.active:hover {
	cursor: default;	
}

.item {
	cursor: pointer;
	border-radius: 4px;
	margin-right: 0.5em;
	padding: 0.3em 1em 0.3em 0.7em;
	left: 0.5em;
	top: 0.5em;
	color: black;
}

.item.selected {
	background-color: #454D67;
	color: #FAFAFA;	
}

.item.selected:hover {
	cursor: default;
}

.item:hover {
	background-color: #454D67;
	color: #FAFAFA;
}

.item_actions {
    display: inline-block;
    margin-right: 15px;
}

.item_action_delete {
    color:red;
    font-weight: bold;
    font-family: monospace;
    font-size: large;
}

.schema {
	display: inline-block;
}

.schema-name {
    display: inline-block;
    width: 30em;
}

.schema-revision {
	font-family: monospace;
	font-size: x-small;
}
