@import "../../../../shared-styles/colors";

.node {
 &:hover {
   background: rgba(0,0,0,.15);
 }
}

.hidden {
  display: none;
}

.value {
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
  margin-left: 10px;
  /* cursor: pointer; */
}

.disabled {
  color: transparentize($colorText, 0.3);
}

.key {
  padding: 0 5px;
}

.action-icon {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  &:first-child {
    padding-left: 10px;
  }
  &:hover {
    color: $colorMain;
  }
}

.child-container {
  padding-left: 5px;
  border-left: 1px solid transparentize($colorText, 0.5);
}

.old-value {
  text-decoration: line-through;
  font-weight: lighter;
  color: $colorError;
  margin-left: 7px;
}

.modified {
  color: $colorSuccess;
}

.deleted {
  color: $colorError;
}

.editing-input {
  border: none;
  border-bottom: 1px solid $colorText;
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
}
