<!-- Node -->
<div class="node">
  <!-- Icon controls -->
  <i class="fa action-icon" [class.fa-sort-desc]="!showChildren" [class.fa-sort-up]="showChildren"
     (click)="toggleChildren()" *ngIf="node['children']"></i>
  <i class="fa fa-angle-double-down action-icon" [class.fa-rotate-180]="showAllChildrenOnOpen"
     (click)="toggleAllChildren()" *ngIf="node['children']"></i>


  <ng-container
    *ngIf="(node['info']['type'] == 4 || (node['new'] && node['info']['type'] == 8)) && node['info']['key']">
    <i class="fa fa-key key" aria-hidden="true" title="This node is a key value"></i>
  </ng-container>

  <!-- Node name -->
  <span *ngIf="node['info']" [class.disabled]="!node['info']['config']">{{node['info']['name']}}</span>

  <!-- Node has a value -->
  <span *ngIf="node['value']">:</span>
  <nct-yang-node-editable-value
            *ngIf="node['value']"
             [editable]="(node['info']['type'] == 4 || (node['new'] && node['info']['type'] == 8)) &&
                        (node['info']['config'] &&
                        !node['deleted']) &&
                        (!node['info']['key'] || node['new'])"
            [value]="node['value']"
            (changeSaved)="confirmEdit($event)"
            (changeDiscarded)="discardChanges($event)"
  ></nct-yang-node-editable-value>

  <!-- Menu -->
  <nct-yang-node-menu *ngIf="node['info']['config']"
                      [isKey]="!!node['info']['key']"
                      [nodeType]="node['info']['type']"
                      (addChildClicked)="addChildNode()"></nct-yang-node-menu>

  <span class="type" *ngIf="node['info']['datatype']">{{node['info']['datatype']}}</span>

  <!-- Node description -->
  <nct-yang-node-description [description]="node['info']['dsc']"></nct-yang-node-description>

  <!-- Link to a schema -->
  <nct-yang-schema-link [module]="node['info']['module']"></nct-yang-schema-link>
</div>
<!-- /Node -->

<!-- Children -->
<div class="ml-3 child-container" *ngIf="showChildren && node['children']">
  <nct-yang-schema-node *ngFor="let child of node['children']" [node]="child"
                        [showChildren]="showAllChildrenOnOpen" [activeSession]="activeSession"></nct-yang-schema-node>
</div>
<!-- /Children -->
<!-- Add a child -->
<div class="ml-3 child-container" *ngIf="newNode">
  <nct-yang-new-node [path]="newNode.path" [schema]="newNode.module" [sessionKey]="newNode.key"></nct-yang-new-node>
</div>
