@import "../../../../shared-styles/colors";

.node {
 &:hover {
   background: rgba(0,0,0,.15);
 }
}

.hidden {
  display: none;
}

.value {
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
  margin-left: 10px;
  /* cursor: pointer; */
}

.disabled {
  color: transparentize($colorText, 0.3);
}

.key {
  padding: 0 5px;
}

.action-icon {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  &:first-child {
    padding-left: 10px;
  }
  &:hover {
    color: $colorMain;
  }
}

.description {
  font-weight: normal;
  margin-left: 5px;
  color: transparentize($colorText, 0.3);
  font-size: 12px;
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
}

.child-container {
  padding-left: 5px;
  border-left: 1px solid transparentize($colorText, 0.5);
}

.schema-link {
  color: transparentize($colorText, 0.2);
  font-size: 11px;
  font-weight: normal;
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
  &:hover {
    color: $colorLinkHover;
    text-decoration: underline;
  }
}

.old-value {
  text-decoration: line-through;
  font-weight: lighter;
  color: $colorError;
  margin-left: 7px;
}

.modified {
  color: $colorSuccess;
}

.deleted {
  color: $colorError;
}

.editing-input {
  border: none;
  border-bottom: 1px solid $colorText;
  font-family: "JetBrains Mono", "Source Code Pro", Consolas, monospace;
}

.mini-menu-wrapper {
  position: relative;
  display: inline-block;
}
.mini-menu {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  border: 1px solid $colorText;
  width: 100px;
  max-width: 80vw;
  text-align: center;
  border-radius: 5px;
  z-index: 2;
  background: $colorItemBackground;
  ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;
  }
  ul li button {
    background: none;
    border: none;
    color: $colorText;
    cursor: pointer;
    &:hover {
      color: $colorMain;
      background: rgba(0,0,0,0.1);
    }
  }
}

.mini-menu-toggle {
  background: none;
  border: none;
}

.mini-menu-toggle + .mini-menu:active,
.mini-menu-toggle:focus + .mini-menu {
  visibility: visible;
}
