<!-- Node -->
<div class="node">
  <!-- Icon controls -->
  <i class="fa action-icon" [class.fa-sort-desc]="!showChildren" [class.fa-sort-up]="showChildren"
     (click)="toggleChildren()" *ngIf="node['children']"></i>
  <i class="fa fa-angle-double-down action-icon" [class.fa-rotate-180]="showAllChildrenOnOpen"
     (click)="toggleAllChildren()" *ngIf="node['children']"></i>


  <ng-container
    *ngIf="(node['info']['type'] == 4 || (node['new'] && node['info']['type'] == 8)) && node['info']['key']">
    <i class="fa fa-key key" aria-hidden="true" title="This node is a key value"></i>
  </ng-container>

  <!-- Node name -->
  <span *ngIf="node['info']" [class.disabled]="!node['info']['config']">{{node['info']['name']}}</span>

  <!-- Node has a value -->
  <span *ngIf="node['value']">:</span>
  <span class="value" *ngIf="node['value'] && !editing">{{node['value']}}</span>
  <ng-container *ngIf="node['info']['type'] == 4 || (node['new'] && node['info']['type'] == 8)">

    <ng-container
      *ngIf="node['info']['config'] &&
            !node['deleted'] &&
            (!node['info']['key'] || node['new'])
            && node['info']['datatypebase'] != 'empty'">
      <input [class.hidden]="!editing" type="text" autofocus class="editing-input" [(ngModel)]="editingValue">
      <span class="old-value" *ngIf="node['value'] !== originalValue">{{originalValue}}</span>
      <i class="fa fa-pencil action-icon" aria-hidden="true" [class.hidden]="editing"
         (click)="toggleEdit()"
         title="Edit value"></i>


      <i class="fa fa-times action-icon text-danger" aria-hidden="true" [class.hidden]="!editing"
         (click)="toggleEdit()"></i>
      <i class="fa fa-check action-icon text-success" aria-hidden="true" [class.hidden]="!editing"
         (click)="confirmEdit()"></i>
      <span title="Current value" class="disabled" [class.hidden]="!editing || editingValue == originalValue"></span>

    </ng-container>
  </ng-container>

  <!-- Menu -->
  <nct-yang-node-menu *ngIf="node['info']['config']"
                      [isKey]="!!node['info']['key']"
                      [nodeType]="node['info']['type']"
                      (addChildClicked)="addChildNode()"></nct-yang-node-menu>

  <!-- Node description -->
  <nct-yang-node-description [description]="node['info']['dsc']"></nct-yang-node-description>

  <!-- Link to a schema -->
  <nct-yang-schema-link [module]="node['info']['module']"></nct-yang-schema-link>
</div>
<!-- /Node -->

<!-- Children -->
<div class="ml-3 child-container" *ngIf="showChildren && node['children']">
  <nct-yang-schema-node *ngFor="let child of node['children']" [node]="child"
                        [showChildren]="showAllChildrenOnOpen" [activeSession]="activeSession"></nct-yang-schema-node>
</div>
<!-- /Children -->
<!-- Add a child -->
<div class="ml-3 child-container" *ngIf="newNode">
  <nct-yang-new-node [path]="newNode.path" [schema]="newNode.module" [sessionKey]="newNode.key"></nct-yang-new-node>
</div>
