@import '../netopeer-common';

nav {
	background-color: $colorMain;
	padding-left: 1em;
	
	a {
		text-decoration: none;
		display: inline-block;
		padding: 0.2em 1em 0.1em 1em;
		color: $colorTextInverse;
		
		&:visited,
		&:link {
			color: $colorTextInverse;
		}
		
		&:hover,
		&.active {
			background-color: $colorBackground;
			color: $colorText;
		}
		&.active:hover {
			cursor: default;
		}	
	}
}

.items {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

.item {
    cursor: pointer;
    margin-right: 0.5em;
    padding: 0.3em 1em 0.3em 0.7em;
    left: 0.5em;
    top: 0.5em;
    color: black;

    &:hover,
    &.selected {
        td {
            background-color: $colorMain;
        }
        color: $colorTextInverse;
    }
    &.selected:hover {
        cursor: default;
    }
}

.item_header {
    color: $colorTextInverse;
    th {
       background-color: $colorMain;
    }
}

.item_left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item_right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item_actions {
    cursor: pointer;
    width: 2em;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: large;
    color: $grey;
}

.item_action_delete {
    height: 1.3em;
    vertical-align: middle;

    &:hover {
        color: $red;
    }
}

.schema-revision {
	font-family: monospace;
	font-size: x-small;
}

.device-login {
}

.input_line {
    display: table-row;

    label, .input_label {
        display: table-cell;
        padding-right: 1em;
    }

    input, select, .input_data {
        display: table-cell;
        padding-left: 0.5em;
        margin-right: 0.5em;
    }
}

.input_line_alert {
    display: inline-block;
    background-color: $colorFailure;
    color: $red;
}

.input_control {
    padding-top: 1em;
}

form {
    input,
    select {
        border-left: 5px solid $colorSuccessBorder;
        &.invalid {
            border-left: 5px solid $colorSuccessBorder;
        }
    }
}

.input_switch {
    display: inline-block;
    text-align: center;
    margin-right: 1.5em;
}