nav {
	background-color: #3B4257;
	padding-left: 1em;
}

nav a {
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 1em 0.1em 1em;
	color: #FAFAFA;
}

nav a:visited,
nav a:link {
	color: inherit;
}

nav a:hover,
nav a.active {
	background-color: #FAFAFA;
	color: #000
}

nav a.active:hover {
	cursor: default;	
}

.items {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

.item {
	cursor: pointer;
	margin-right: 0.5em;
	padding: 0.3em 1em 0.3em 0.7em;
	left: 0.5em;
	top: 0.5em;
	color: black;
}

.item.selected,
.item_header {
	background-color: #454D67;
	color: #FAFAFA;
}

.item_left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item_right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item.selected:hover {
	cursor: default;
}

.item:hover {
	background-color: #454D67;
	color: #FAFAFA;
}

.item_actions {
	cursor: pointer;
    width: 2em;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: large;
    color: grey;
}

.item_action_delete{
    height: 1.3em;
    vertical-align: middle;
}

.item_action_delete:hover {
    color: red;
}

.schema-revision {
	font-family: monospace;
	font-size: x-small;
}

.device-login {
}

.input_block {
    display: inline-block;
}

.input_line {
    display: block;
    margin-right: 2em;
}

.input_line input {
    display: inline-block;
    padding-left: 1em;
}

.input_line_alert {
    display: inline-block;
    background-color: #f2dede;
    color: red;
}

form input,
form select {
    border-left: 5px solid green;
}

form input.invalid,
form select.invalid {
    border-left: 5px solid red;
//    width: 5em;
}

.input_switch {
    display: inline-block;
    text-align: center;
    margin-right: 1.5em;
}