<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <lib-content-box title="Add a new device">
                <nc-add-device></nc-add-device>
            </lib-content-box>
            <lib-content-box title="Connected devices">
                <nc-device-list></nc-device-list>
            </lib-content-box>
        </div>
        <div class="col-sm-12 col-md-4">
            <lib-content-box title="Available schemas">
              <lib-schema-list></lib-schema-list>
            </lib-content-box>
        </div>
    </div>
</div>

