<nav>
  <a *ngFor="let session of sessionsService.sessions" [class.active]="session.key==sessionsService.activeSession"
      (click)="sessionsService.activeSession = session.key">{{session.device.hostname}}:{{session.device.port}}
      <span class="close-tab" (click)="disconnect(session.key)">x</span>
  </a><a (click)="addSession()"><span class="add-tab">+</span></a>
</nav>
<p class="msg-failure msg-rounded" *ngIf="err_msg"><span class="msg-close" (click)="err_msg=''">x</span>{{err_msg}}</p>

<div class="netopeer-content">

<div *ngIf="sessionsService.activeSession">
    <button (click)="disconnect(sessionsService.activeSession)">Disconnect</button>

    <p><a (click)="getCapabilities(sessionsService.activeSession)">Capabilities</a></p>
    <pre *ngIf="cpblts">{{cpblts | json}}</pre>
    <p><a (click)="rpcGet(sessionsService.activeSession)">Running Data</a></p>
    <pre *ngIf="data">{{data | json}}</pre>
</div>

</div>